* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

:root {
    --top-bar:#2A462F;
    --btn: #85B84F;
    --white: #ffffff;
    --black: #000000;
    --fs-color: #6F9787;
    --product-back-color: #EAEAEA;
    --star: #FFC700;
    --price: #555555;
    --price2: #8B8B8B;
    --product-sub-title: #222222;
    --unactive: #C6C6C6
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--btn);
}

::-webkit-scrollbar-thumb {
    background-color: var(--fs-color);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #adf316;
}

.d-none{
    display: none;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

}

.active {
    color: var(--white) !important;
    font-size: 18px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.row-gap-2 {
    row-gap: 13px;
}

.row-gap-3 {
    row-gap: 20px;
}

.row-gap-4 {
    row-gap: 25px;
}

.tran {
    transition: .5s;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.ps-1 {
    padding-left: 10px;
}

.pe-1 {
    padding-right: 10px;
}

.p-0 {
    padding: 0;
}

.pt-120 {
    padding-top: 120px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-240 {
    padding-top: 240px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-3 {
    padding-top: 30px !important;
}

.pt-5 {
    padding-top: 50px !important;
}

.pb-7 {
    padding-bottom: 70px !important;
}

.p-3 {
    padding: 30px;
}

.p-4 {
    padding: 40px;
}

.rounded {
    border-radius: 15px;
    overflow: hidden;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.col {
    width: auto;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.po-rel {
    position: relative !important;
}

.po-ab {
    position: absolute;
}

section {
    width: 100%;
    overflow: hidden !important;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-3 {
    margin-top: 30px;
}


.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.px-1 {
    padding: 0 10px;
}

.px-2 {
    padding: 0 20px;
}

.px-4 {
    padding: 0 40px;
}

/* topbar */

.top-bar {
    background-color: var(--top-bar);
    padding: 10px;
}

.top-bar ul li a i {
    padding-right: 10px;
}

.top-bar ul li a {
    color: var(--white);
}

/* Header */

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    transition: .5s;
}

header .logo-box {
    padding: 15px 40px;
    background-color: var(--white);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav ul li a {
    color: var(--white);
    font-size: 20px;
    transition: .5s;
}

nav ul li a:hover {
    color: var(--btn);
}

header .icon i {
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
    transition: .5s;
}

header .icon i:hover {
    color: var(--btn);
}

/* Banner */
.banner {
    height: 750px;
    background-image: url('../images/banner.png');
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    top: 0;
    left: 0;
    z-index: -1;
}

.banner p {
    font-size: 22px;
    color: var(--white);
    text-align: center;
    font-weight: 300;
}

button {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    background-color: var(--btn);
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--btn);
    transition: .5s;
}

button:hover {
    color: var(--btn);
    background-color: transparent;
}

.banner-title-box {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* products */

.fs-title {
    font-family: 'Rochester';
    color: var(--fs-color);
    font-size: 28px;
}

.fs-sec-title {
    color: var(--btn);
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

.product-image-box {
    width: 100%;
    height: 420px;
    background-color: var(--product-back-color);
    overflow: hidden;
}

.products i {
    color: var(--star);
}

.product-details .price {
    font-size: 23px;
    font-weight: 500;
    color: var(--price);
}

.product-details p {
    color: var(--product-sub-title);
    font-size: 23px;
    font-weight: 500;
}

.sub_product {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.products::after {
    position: absolute;
    content: '';
    width: 500px;
    height: 500px;
    background-image: url('../images/product_style.png');
    background-size: cover;
    opacity: .5;
    top: 0;
    left: -6%;
}

.products::before {
    position: absolute;
    content: '';
    width: 500px;
    height: 500px;
    background-image: url('../images/product_style.png');
    background-size: cover;
    opacity: .5;
    top: 0;
    right: -6%;
}

/* information */

.information .information-image-box {
    width: 100%;
    height: 100%;
}

.information-image-box::after {
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    border: 3px solid var(--btn);
    bottom: -18%;
    right: -13%;
    z-index: -1;
}

/* Service */

.services .service-img-box {
    width: 140px;
    height: 140px;
    background-image: url('../images/service-bg-1.png');
    background-size: cover;
}

.services .service-img-box img {
    width: 60px;
    height: 60px;
}

.service-cart p {
    color: var(--product-sub-title);
    font-size: 25px;
    font-weight: 500;
}

.services .box-img {
    background-image: url('../images/service-bg-2.png');
}

.services::after {
    position: absolute;
    content: '';
    background-image: url('../images/service-style-1.png');
    background-size: cover;
    top: -16px;
    right: 120px;
    width: 330px;
    height: 330px;
    z-index: 111;
    opacity: .5;
}

.services::before {
    position: absolute;
    content: '';
    background-image: url('../images/service-style-2.png');
    transform: rotateX(180deg);
    background-size: cover;
    bottom: 0;
    left: 25px;
    width: 330px;
    height: 330px;
    z-index: 111;
    opacity: .5;
}

/* Items */

.items {
    background-image: url(../images/item-bg.png);
    background-size: cover;
}

.item-count {
    color: var(--btn);
    font-size: 57px;
    font-weight: 400;
    text-transform: uppercase;

}

.item-counter-content {
    color: var(--product-sub-title);
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
}



.border-right-design::after {
    position: absolute;
    content: '';
    height: 60%;
    width: 1px;
    background-color: var(--black);
    top: 42%;
    right: 0;
    transform: translate(-50%, -50%);
}

.items .star {
    position: absolute;
    background-image: url('../images/Star2.svg');
    top: 25%;
    left: 42%;
    width: 125px;
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
}

/* products-2 */

.products-2 ul li a {
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.products-2 ul li a:hover {
    color: var(--btn);
}

.products-2 .product-images-box {
    width: 100%;
    height: 310px;
}

.products-2 .product-2-price {
    text-decoration: line-through;
    padding-left: 10px;
    color: var(--price2);
}

.product-2-price-details p {
    color: var(--black);
    font-size: 23px;
    font-weight: 500;
}

.products-2 .sticker {
    position: absolute;
    top: 10px;
    right: 10px;
}

.products-2 .sticker span {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    background-color: red;
    width: auto;
    padding: 3px 10px;
    line-height: 5px;
    border-radius: 15px;
}

.products-2 .sticker-2 span {
    background-color: var(--btn);
}

.products-2::after {
    position: absolute;
    content: '';
    opacity: .5;
    top: -10px;
    right: -5%;
    width: 450px;
    height: 450px;
    background-image: url('../images/products-2-style.png');
}

/* about */


.about .about-imsge-box {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    overflow: hidden;
}

.about .about-title {
    color: var(--btn);
    font-size: 30px;
    font-weight: 600;
}

.about::after {
    position: absolute;
    content: '';
    width: 379px;
    height: 256px;
    left: -80px;
    top: 80px;
    background-image: url('../images/about-style-left.png');
    opacity: .5;
    background-size: cover;
    transform: rotate(130deg);
}


.about::before {
    position: absolute;
    content: '';
    width: 379px;
    height: 256px;
    right: -106px;
    top: 83px;
    background-image: url('../images/about-style-left.png');
    opacity: .5;
    background-size: cover;
    transform: rotateX(180deg) rotate(300deg);
}

/* footer */

footer {
    background-color: #EFEFEF;
    padding: 120px 0;
}

footer .list-1 li a i {
    font-size: 20px;
    padding-right: 10px;
}

footer .list-1 li a {
    color: var(--product-sub-title);
    font-size: 18px;
    font-weight: 400;
}

.footer-title {
    color: var(--btn);
    font-size: 32px;
    font-weight: 600;
}

.list-2 li a {
    color: var(--price);
    font-size: 18px;
}

footer input {
    border: none;
    outline: none;
    width: 100%;
    padding: 17px;
}






/* Gallery page */

.gallery-banner {
    background-image: url('../images/gallery-banner.jpg');
    background-size: cover;
    background-position: center center;
}

.gallery-banner .banner-title-box h1 {
    color: var(--white);
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.gallery-banner .banner-title-box span {
    color: var(--white);
}

.gallery-banner .banner-title-box span a {
    color: var(--unactive);
}

.gallery .row .col-12 .col-12 .col-3 .col-12 {
    cursor: pointer;
}



/* Team page */

.team .team-img-box {
    height: 420px;
}

.team .team-content {
    padding: 20px;
    padding-bottom: 0;
}

.team .team-content a {
    color: var(--product-sub-title);
    padding: 0 5px;
    font-size: 20px;
}


.team .team-content p {
    color: var(--price);
    font-size: 20px;
    font-weight: 400;
}

.team .team-content h5 {
    color: var(--btn);
    font-size: 25px;
    font-weight: 600;
}


/* contact Us page */

.contact .row .contact-form h5{
    color: var(--black);
    font-size: 40px;
    font-weight: 600;
}

.contact form input {
    background: #EBEBEB;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
}

.contact form textarea {
    background: #EBEBEB;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    color: var(--product-sub-title);
}

.contact form input::placeholder {
    color: var(--product-sub-title);
}

.error{
    color: red;
    font-size: 14px;
  }







/* History Page */

.history .history-main-content h6 {
    margin-bottom: 30px;
    color: var(--btn);
    font-size: 22px;
    font-weight: 500;
}

.history .history-main-content span {
    color: var(--product-sub-title);
    font-size: 35px;
    font-weight: 600;
}

.history .history-main-content p {
    line-height: 1.5;
}

.history .history-img-box {
    aspect-ratio: 1/1;
}

.history .history-cart-content h5 {
    color: var(--product-sub-title);
    font-size: 25px;
    font-weight: 600;
}

.history .history-cart-content p {

    color: var(--price);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin: 15px 0;
}

.history .history-cart-content a {
    color: #FF0000;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
}





/* loader */

.fixed {
    position: fixed;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 10px;
    /* left: 0; */
    z-index: 999;
    width: 100%;
    animation: slide 1s 1 ;
}

@keyframes slide {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}

.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: var(--black);
}

.loader-5 {
    width: 120px;
    height: 120px;
    animation: loaders-5 ease-in-out infinite 2s;
}

@keyframes loaders-5 {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.load-5 {
    width: 75px;
    height: 75px;
    border: 4px solid #00fff8;
    box-shadow: 0px 0px 10px #00fff8;
    border-radius: 50%;
    position: absolute;
    animation: load-5 infinite 2s linear;
}

.load-5:nth-child(2) {
    bottom: 0;
}


.load-5:nth-child(3) {
    top: 0;
    right: 0;
}


.load-5:nth-child(4) {
    right: 0;
    bottom: 0;
}

@keyframes load-5 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0);
    }
}

/* theme-Design */

.theme-plate{
    z-index: 999991;
    position: fixed;
    top: 15%;
    left: 15px;
}

.theme-plate .theme-btn a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    display: inline-block;
    background-color: white;
    color: var(--black);
}

.theme-design{
    width: 170px;
    height: 170px;
    background-color: white;
    border-radius: 50%;
    margin-left: 25px;
    position: relative;
    border: 2px solid white;
    box-sizing: content-box;
    animation: ring 3s infinite 0.2s linear;
    cursor: pointer;
}

.theme-design:hover{
    animation-play-state: paused;
}

@keyframes ring {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(-180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.theme-design a{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--theme-color);
    position: absolute;
    transform: scale(1);
}

.theme-design a:hover{
    transform: scale(1.5);
}

.theme-design a:nth-child(1){
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.theme-design a:nth-child(2){
    top: 2px;
    right: 19px;
    transform: translateY(50%);
}
.theme-design a:nth-child(3){
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.theme-design a:nth-child(4){
    bottom: 0;
    right: 18px;
    transform: translateY(-57%);
}
.theme-design a:nth-child(5){
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.theme-design a:nth-child(6){
    bottom: 3px;
    left: 18px;
    transform: translateY(-50%);
}
.theme-design a:nth-child(7){
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.theme-design a:nth-child(8){
    top: 38px;
    left: 18px;
    transform: translateY(-50%);
}

.theme-design a:last-child{
    width: 45px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    line-height: 45px;
}